.ImagesPage {
  margin-left: 50px;

  .css-img {
    background: url("assets/img/image.webp") no-repeat;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .svg-css {
    #label {
      animation: svg-css_arrow 2s ease-in-out infinite;
    }
  }
}

@keyframes svg-css_arrow {
  0%,
  100% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }
}
