/**
 * Fonts
 */

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('assets/fonts/Roboto-Regular.ttf');
}

/** 
 * Scrollbar
 */

@media (pointer: fine) {
	::-webkit-scrollbar {
		width: 14px;
		height: 14px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 14px;
		border: 3px solid transparent;
		background-clip: content-box;
		background-color: color-mix(in srgb, var(--primary), transparent 30%);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--primary);
	}

	::-webkit-scrollbar,
	::-webkit-scrollbar-track,
	::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}

/**
 * Media query
 */

:root {
	--sm: false;
	--md: false;
	--lg: false;
	--xl: false;
	--xxl: false;

	@media (theme(breakpoint-sm) <=width <theme(breakpoint-md)) {
		--sm: true;
	}

	@media (theme(breakpoint-md) <=width <theme(breakpoint-lg)) {
		--md: true;
	}

	@media (theme(breakpoint-lg) <=width <theme(breakpoint-xl)) {
		--lg: true;
	}

	@media (theme(breakpoint-xl) <=width < theme(breakpoint-2xl)) {
		--xl: true;
	}

	@media (width >=theme(breakpoint-2xl)) {
		--xxl: true;
	}
}