.Icon-component#exit {
  --primary-color: #821e8f;

  transition: transform 200ms linear 0ms;

  #animation {
    transition: stroke-dashoffset 400ms linear 0ms, stroke-dasharray 400ms linear 0ms;
    stroke: var(--primary-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 1;
  }

  #arrow {
    animation: arrow 2s ease-in-out infinite;

    #right,
    #left {
      display: none;
    }
  }

  &:hover {
    transform: rotate(-90deg);

    #animation {
      stroke-dasharray: 200, 1;
    }

    #arrow {
      transform: translateY(2px);
      stroke: var(--primary-color);

      line {
        stroke-width: 6px;
      }

      #right,
      #left {
        display: block;
      }
    }
  }
}


@keyframes arrow {
  0% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(2px);
  }
}